html,
body {
    margin: 0;
    overflow: hidden;
}

div#root {
    height: 400px;
    width: 100%;
    background: lightgrey;
    position: absolute;
}

div#block1 {
    transition: linear 0.1s;
}

div#block2 {
    transition: linear 0.1s;
}

.data {
    position: absolute;
    top: 420px;
    left: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.side-data {
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
}
